body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav_bar a {
  color: #efe2e2;
}

.banner {
  background-image: url("https://res.cloudinary.com/eumar-8/image/upload/v1543417200/basket_abwt7w.jpg");
  color: white;
  text-align: center;
  height: 400px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-position-y: top;
}
